body {
background-color: rgb(0,192,226);
}

html{
font-family:"Arial",Georgia,Serif;
}
#main_wrap{
margin: auto;
border-style:solid;
border-width:1px;
width: 360px;
font-weight:bold;
}


#content_wrap{
height: 552px;
width: 360px;
background-color: rgb(0,192,226);
}

#footer {
height: 87px;
width: 360px;
background-color: rgb(138,138,138);
}